html{
    scroll-behavior: smooth;
}

body {
    background-color: #008CFF !important; 
    transition: background-color 0.5s, color 0.5s !important;
}

*{
    transition: all 0.5s ease-in-out;
}

/*--------------------------------------------Navbar---------------------------------------------*/

.navbar{
    background-color: #000000 !important;
    margin: 0px !important;
    padding: 0px !important;
    user-select: none; 
    -webkit-user-drag: none; 
    user-drag: none; 
}
.navbar-brand{
    font-size: 2em !important;
    font-family: "Great Vibes", serif;
    font-weight: 400;
    padding: 0px 50px !important;
    -webkit-user-drag: none; 
    user-drag: none;     
}

.navbar-toggler {
    border-color: white !important; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-brand{
    color: #ffffff !important;
}

.nav-link{
    padding: 20px 20px !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: "Lora", serif;
}

.nav-link:hover{
    color: #000000 !important;
    background-color: #f8f9fa !important;
}

.item1{
    background-color: #FFB200 !important;
}
.item2{
    background-color: #FBA518 !important;
}
.item3{
    background-color: #EB5B00 !important;
}
.item4{
    background-color: #D91656 !important;
}
.item5{
    background-color: #493D9E !important;
}
.item6{
    background-color: #3674B5 !important;
}
.item7{
    background-color: #ffffff !important;
}

/*--------------------------------------------Landing Page---------------------------------------------*/

.landingpage{
    margin: 0px 0px !important;
    padding: 150px 50px !important;
    min-height: 800px !important;
    text-align: center !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    user-select: none !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 25px),
            calc(50% + 25px) calc(100% - 25px),
            50% 100%,
            calc(50% - 25px) calc(100% - 25px),
            0 calc(100% - 25px));   
}

.profile-img {
    width: 100%;
    pointer-events: none;
    height: calc(100% - 4px);
    border-radius: 50%; 
    z-index: 5;
}

.profile-img-container {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    width: 450px;
    height: 550px;
    background-color: #ffffff !important;
    overflow: hidden;
    border-radius: 50%;
    position: relative;   
    z-index: 0;  
    box-shadow:  0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #00f, 0 0 40px #00f;
    animation: rotate-shadow 4s infinite linear;
    transition: background-color 0.5s, color 0.5s !important; 
    transition: max-width 0.5s ease-in-out;  

    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image:   linear-gradient(#00E4FF, #00E4FF),  
                            linear-gradient(#ffffff, #ffffff),  
                            linear-gradient(#00E4FF, #00E4FF),  
                            linear-gradient(#ffffff, #ffffff);                        
        animation: rotate 4s linear infinite;
        background-size: 35% 50%, 35% 50%;
        filter: blur(20px);
    }
    
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: #ffffff;
        border-radius: 50%;      
    }  
}


@keyframes rotate-shadow {
    0% {
        box-shadow: 10px 0 20px #0ff, -10px 0 20px #00f;
    }
    25% {
        box-shadow: 0 10px 20px #0ff, 0 -10px 20px #00f;
    }
    50% {
        box-shadow: -10px 0 20px #0ff, 10px 0 20px #00f;
    }
    75% {
        box-shadow: 0 -10px 20px #0ff, 0 10px 20px #00f;
    }
    100% {
        box-shadow: 10px 0 20px #0ff, -10px 0 20px #00f;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.IntroDash{
    margin: 80px 0px 0px 0px !important;
}

.IntroDash .hello{
    margin: 0px 0px 0px 0px !important;
    font-size: 5em !important;
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
}
.IntroDash .name{
    margin: 10px 0px 0px 0px !important;
    font-size: 8em !important;
    font-family: "Rokkitt", serif;
    font-weight: 400;
    font-style: normal;
}

@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.IntroDash .name {
  background-image: linear-gradient(var(--gradient-angle), #ff00ff, #00ffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotate-gradient 3s linear infinite;
}

@keyframes rotate-gradient {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.IntroDash .designation{
    margin: 20px 0px 20px 0px !important;
    font-family: "Lora", serif;
    font-size: 2.5em !important;
    font-style: normal;
    font-weight: 700;
}

/*@keyframes cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #26355D;
    }
}

@keyframes typing {
    from {
        width: 100%;
    }
    90%, to {
        width: 0;
    }
}

.IntroDash .skills::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid black;
    background-color: #ffffff;
    white-space: pre-line;
    animation: typing 9s infinite, cursor 1s infinite;     
}*/


.IntroDash .skills{
    margin: 20px 0px 0px 0px !important;
    font-family: "Lora", serif;
    font-size: 1.1em !important;
    font-style: normal;
    font-weight: 300;

    position: relative;
    display: inline;
    animation: slide 15s step-start infinite;   
    background: linear-gradient(90deg, #0079FF, #FF0060);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    white-space: pre-line;
    border-right: 2px solid #FF0060;
}

@keyframes blink {
    50% { border-color: transparent; }
}

.cursor {
    animation: blink 0.6s infinite;
}

@media (min-width: 942px) and (max-width: 1378px){
    .IntroDash .skills{
        font-size: 1em !important;
    }
}

@media (min-width:501px) and (max-width:1144px){
    .IntroDash .name{
        margin: 5px 0px 0px 0px !important;
        font-size: 6.5em !important;
        font-family: "Rokkitt", serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media (min-width:501px) and (max-width:767px){
    .IntroDash{
        margin: 0px 0px 50px 0px !important;
    }   
}

@media (min-width:768px) and (max-width:991px){
    .IntroDash{
        margin: 0px 0px 0px 0px !important;
    } 
    .IntroDash .hello{
        margin: 0px 0px 0px 0px !important;
        font-size: 4em !important;
        font-family: "Great Vibes", serif;
        font-weight: 400;
        font-style: normal;
    }  
}

.cvbtngrp .btncv, .cvbtngrp .btnhire {
    font-family: "Lora", serif;    
    padding: 10px 20px;
    margin: 40px 10px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 25px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    transition: background 0.4s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cvbtngrp .btncv {
    background-color: #6528F7;
    border-color: #6528F7;
}

.cvbtngrp .btnhire {
    background-color: #06D001;
    border-color: #06D001;
}

.cvbtngrp .btncv::after, 
.cvbtngrp .btnhire::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: left 0.4s ease-in-out;
}

.cvbtngrp .btncv:hover {
    background-color: transparent;
    color: #6528F7; 
    border: 2px solid #6528F7;
}

.cvbtngrp .btnhire:hover {
    background-color: transparent;
    color: #06D001;
    border: 2px solid #06D001;
}

.cvbtngrp .btncv:hover::after, 
.cvbtngrp .btnhire:hover::after {
    left: 100%;
}

.cvbtngrp .btncv:not(:hover)::after, 
.cvbtngrp .btnhire:not(:hover)::after {
    left: -100%;
    transition: left 0.4s ease-in-out;
}

@media (min-width: 381px) and (max-width: 505px) {
    .landingpage{
        padding: 100px 50px !important;
        min-height: 800px !important;
    }

    .IntroDash{
        margin: 0px 0px 0px 0px !important;
    }

    .IntroDash .hello{
        font-size: 3.5em !important;
        font-weight: 400;
    }
    .IntroDash .name{
        margin: 10px 0px 0px 0px !important;
        font-size: 4em !important;
        font-weight: 700;
    }

    .IntroDash .designation{
        margin: 20px 0px 20px 0px !important;
        font-size: 2em !important;
        font-weight: 500;
    }

    .IntroDash .skills{
        font-size: 1em !important;
    }

    .cvbtngrp .btncv, .cvbtngrp .btnhire {   
        padding: 10px 10px;
        margin: 30px 10px 80px 10px;
    } 
}

@media (max-width: 380px) {
    .landingpage{
        padding: 50px 0px !important;
        min-height: 800px !important;
    }

    .IntroDash .hello{
        font-size: 3.5em !important;
        font-weight: 400;
    }

    .IntroDash .name{
        margin: 10px 0px 0px 0px !important;
        font-size: 3em !important;
        font-weight: 700;
    }   

    .IntroDash .designation{
        margin: 20px 0px 10px 0px !important;
        font-size: 1.5em !important;
        font-weight: 500;
    }

    .IntroDash .skills{
        font-size: 0.9em !important;
    }

    .cvbtngrp .btncv, .cvbtngrp .btnhire {   
        padding: 10px 10px;
        margin: 20px 10px 20px 10px;
    }     
}

/*--------------------------------------------About ME---------------------------------------------*/

.aboutus{
    margin: 0px 0px !important;
    padding: 0px 0px !important;
    padding-bottom: 50px !important;
    min-height: 500px !important;
    background-color: #170055 !important; 
    color: #FFFFFF !important;
    user-select: none !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; 

    clip-path: polygon(
        0 0, 
        calc(50% - 4.14px - 25px) 0, 
        50% calc(25px + 4.14px), 
        calc(50% + 4.14px + 25px) 0, 
        100% 0, 
        
        100% calc(100% - 0px), 
        calc(50% + 25px) 100%, 
        50% calc(100% - 25px), 
        calc(50% - 25px) 100%, 
        0 calc(100% - 0px)
    );

    margin-top: -40px;
    margin-bottom: -40px;
}

.aboutus .header {
    margin-top: 70px;
    font-size: 2.5em;
    padding-left: 45px !important;
    font-family: "Great Vibes", serif;    
    font-weight: bold;
    color: #000000;
    --r: .8em;
    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#f8f9fa padding-box; 
    width: fit-content;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;   
}

.pro{
    display: flex;
    justify-content: center; 
    align-items: center;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;  
    padding-left:55px; 
    padding-top: 20%;  
}

.proimg{
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 20px #FFFFFF, 0 0 25px #FFFFFF, 0 0 35px #FFFFFF;     
    text-align: center;
    padding-left: 2px;
    padding-top: 20px;   
    transition: box-shadow 0.3s ease-in-out;    
    filter: brightness(150%);  
    filter: saturate(200%);       
}

.abtname p{
    text-align: center!important;
    padding-top: 5%;
    padding-left: 10%;
    font-size: 3.2em;
    font-family: "Great Vibes", serif;
    font-weight: 700 !important;
}

.deatailsInfo{
    margin-top: 0px !important;
    margin-bottom: 50px !important;
    font-family: "Lora", sans-serif !important;
    padding: 0px 50px !important;
    border: 2px solid #fff;
    background-color: #ffffff;
    color: #000000;
    --mask: conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 60px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    transition: box-shadow 0.3s ease-in-out;
}

.deatailsInfo .dtlinfo{
    padding: 30px 0px !important;
    text-align: justify;
    font-size: 1em;
}

.detailsabout{
    font-size: 1.1em;
    padding-left: 50px;
    color: #0C0C0C;
    font-weight: 500;
}

.detailsabout .fa-solid{
    padding-right: 25px;
    color: ##D3D3D3;
    transition: all 0.3s ease-in-out;
}

.detailsabout:hover .fa-solid,
.detailsabout div:hover ~ .fa-solid {
    text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #00FFFF; 
    animation: pulse 0.6s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.detailsabout div{
    padding: 10px 0px;
}

.detailsabout .email-link,
.detailsabout .phone-link,
.detailsabout .map-link{
    color: #0C0C0C;
    text-decoration: none;
}

.detailsabout .email-link:hover{
    color: #2D46B9 !important;
}

.detailsabout .phone-link:hover{
    color: #2D46B9 !important;
}

.detailsabout .map-link:hover{
    color: #2D46B9 !important;
}

.projectcounter{
    margin: 50px 0px 0px 0px !important;
}

.counterWeb {
    font-size: 3em;
    font-weight: bold;
    color: #F5004F;
}

.counterMvc {
    font-size: 3em;
    font-weight: bold;
    color: #007bff;
}

.counterFront {
    font-size: 3em;
    font-weight: bold;
    color: #7C00FE;
}

.counterTot {
    font-size: 3em;
    font-weight: bold;
    color: #3A7D44;
}

.projectcounter .card{
    margin: 20px 20px;
    padding: 20px 0px;
    text-align: center;
    background-color: transparent !important;
    border: 2px #fff !important;
}

.projectcounter .card-text{
    font-weight: 500;
    font-size: 1em;
    color: #0C0C0C !important;
}

.projectcounter .card:hover{
    box-shadow: 0 0 5px #00FFFF, 0 0 10px #008CFF, 0 0 20px #008CFF;
    border: 2px solid #0ff;
    transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 500px) {
    .abtname p{
        padding-top: 1%;
        padding-left: 0%;
    }

    .pro{
        padding-left:0px; 
        padding-top: 12%;  
    }

    .deatailsInfo{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 0px 50px !important;
    } 

    .detailsabout .fa-solid{
        padding-right: 15px;
        color: ##D3D3D3;
        transition: all 0.3s ease-in-out;
    }

    .detailsabout{
        font-size: 1em;
        padding-left: 5px;
        color: #0C0C0C; 
        font-weight: 400;
    }

    .projectcounter .card{
        margin: 30px 0px;
        padding: 20px 0px;
        text-align: center;
        background-color: transparent; !important;
        border: 2px #fff !important;
    }    
}

@media (max-width:375px) {
    .detailsabout{
        font-size: 0.8em;
        padding-left: 0px;
        color: #0C0C0C; 
        font-weight: 400;
    }    
}

/*--------------------------------------------Skills Set---------------------------------------------*/

.skillsset{
    margin: 0px 0px !important;
    padding: 0px 0px !important;
    min-height: 500px !important;
    background-color: #f8f9fa !important;
    color: #000000 !important;
    user-select: none !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; 
    clip-path: polygon(0 25px,
                calc(50% - 25px) 25px,50% 0,
                calc(50% + 25px) 25px,
                100% 25px,
                100% 100%,
                0 100%);
    margin-top: -40px;

    --mask:
    radial-gradient(55.34px at 50% calc(100% - 76.5px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(55.34px at 50% calc(100% + 46.5px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}


.skillsset .header {
    margin-top: 70px;
    padding-left: 110px !important;
    font-size: 2.5em;
    font-family: "Great Vibes", serif;
    font-weight: bold;
    color: #ffffff;
    --r: .8em;
    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#170055 padding-box; 
    width: fit-content;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;   
}

.skillsInfo {
    padding: 0px 50px 80px 50px;
    font-family: "Lora", serif !important;
    font-size: 1em;
}

.skillsInfo .headerExp{
    margin-left: 10%;
    padding: 0px 0px 0px 0px;
    font-size: 1.5em;
}

.skillsInfo .headerinfo{
    margin-left: 10%;
    padding: 0px 50px 20px 50px;
    text-align: justify;
}

.skillsset .container{
   padding: 0px 30px 80px 30px; 
}

.skillsset .progress {
    height: 20px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #e9ecef;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

}
.skillsset .progress-bar {
    font-weight: bold;
    line-height: 30px;
    transition: width 2s ease-in-out;
}

.skillsset .progress8 .progress-bar {
    background-color: #EB5B00 !important; 
    color: #ffffff !important; 
}

.skillsset .card{
    margin: 30px 10px;
    background-color:#ffffff;
    color: #000000;
    border: 0px solid #170055;
    transition: background-color 0.8s ease-in-out, color 0.5s ease-in-out;
    border-radius: 0% !important; 
    box-shadow: 0 0 4px #00FFFF, 0 0 8px #008CFF, 0 0 12px #008CFF; 
}

/*.skillsset .card:hover{
    box-shadow: 0 0 4px #170055, 0 0 8px #170055, 0 0 16px #170055, 0 0 24px #170055;
    transition: background-color 0.8s ease-in-out, color 0.5s ease-in-out;  
}*/

.skillsset .skillsImg{
    height: 150px;
}

.skillsset .progName{
    font-size: 1em;
}

.skillsset .progNameDtls{
    font-size: 10px;
}

.skillsset .card-body{
    margin: 10px 0px !important;
}

.skillsset .cardname{
    height: 100px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
}

@media (max-width: 500px) {

    .skillsInfo {
        padding: 50px 0px 50px 0px;
        font-family: "Lora", serif !important;
        font-size: 1em;
    }

    .skillsInfo .headerExp{
        margin-left: 0%;
        padding: 0px 0px 0px 20px;
        font-size: 1.5em;
    }

    .skillsInfo .headerinfo{
        margin-left: 0%;
        padding: 0px 20px 20px 20px;
        text-align: justify;
    }

}

/*--------------------------------------------Experience---------------------------------------------*/

.experience{
    margin: 0px 0px !important;
    padding: 0px 0px !important;
    min-height: 500px !important;
    background-color: #f8f9fa !important; 
    color: #000000 !important;
    user-select: none !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
/*    --mask:
    radial-gradient(55.34px at 50% 76.5px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(55.34px at 50% -46.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);*/

    --mask:
    radial-gradient(55.34px at 50% 76.5px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(55.34px at 50% -46.5px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(55.34px at 50% calc(100% - 76.5px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(55.34px at 50% calc(100% + 46.5px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.experience .header{
    margin-top: 70px;
    padding-left: 65px !important;
    font-size: 2.5em;
    font-family: "Great Vibes", serif;
    font-weight: bold;
    color: #ffffff;
    --r: .8em;
    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#170055 padding-box; 
    width: fit-content;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.experiencename{
    padding-top: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none; 
}

.experienceimg{
    width: 300px;
    height: 300px;
    transform: scaleX(-1);
}

.experience .experienceInfo{
    font-family: "Lora", serif !important;
    padding: 0px 50px;
}

.experience .headerExp{
    padding: 0px 0px 0px 0px;
    font-size: 1.5em;
}

.experience .headerinfo{
    font-size: 1em;
    text-align: justify;
}

.company-img1{
    height: 100px;
    width: 250px;
    display: block !important;
    margin: 0 auto !important;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;  
    transition: transform 0.5s ease-in-out;
}

.company-img1:hover {
    transform: scale(1.2);
}

.company-img2{
    height: 150px;
    width: 150px;
    display: block !important;
    margin: 0 auto !important;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;    
}

.company-img3{
    height: 150px;
    width: 150px;
    display: block !important;
    margin: 0 auto !important;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;    
}

.company-img4{
    height: 150px;
    width: 300px;
    display: block !important;
    margin: 0 auto !important;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;    
}

.job{
    margin: 50px 0px 100px 0px;
}

.jobposition{
    font-size: 20px;
    font-weight: 700;
}

.yeardtls{
    font-size: 16px;
}

.jobdtl{
    font-size: 14px;
}

@media (max-width: 381px){

    .experience .headerinfo{
        font-size: 1em;
        text-align: justify;
        margin-bottom: 50px !important;
    }

    .experienceimg{
        width: 200px;
        height: 200px;
        transform: scaleX(-1);
    }

    .company-img1{
        height: 80px;
        width: 180px;
    }  

    .company-img2{
        height: 100px;
        width: 100px;   
    }

    .company-img3{
        height: 100px;
        width: 100px;
    }

    .company-img4{
        height: 100px;
        width: 150px;  
    }

    .job{
        margin: 20px 0px 100px 0px;
    }

    .jobposition{
        font-size: 18px;
        font-weight: 600;
        margin:10px 0px;
    }

    .yeardtls{
        font-size: 15px;        
    }

    .jobdtl{
        font-size: 13px;
        margin:10px 0px !important;  
    }    
}

/*--------------------------------------------Education---------------------------------------------*/

.education{
    margin: 0px 0px !important;
    padding: 0px 0px !important;
    min-height: 300px !important;
    background-color: #f8f9fa !important;
    color: #000000 !important;
    user-select: none !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;   
    --mask:
    radial-gradient(55.34px at 50% 76.5px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(55.34px at 50% -46.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.education .header{
    margin-top: 70px;
    padding-left: 65px !important;
    font-size: 2.5em;
    font-family: "Great Vibes", serif;
    font-weight: bold;
    color: #ffffff;
    --r: .8em;
    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#170055 padding-box; 
    width: fit-content;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.educationname {
    padding-top: 0px;    
    display: flex;
    justify-content: center; 
    align-items: center;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;       
}

.educationimg{
    width: 300px;
    height: 300px;
}

.education .educationInfo{
    font-family: "Lora", serif !important;
    padding: 0px 50px;
    margin-bottom: 100px;
}

.education .headerExp{
    padding: 0px 0px 0px 0px;
    font-size: 1.5em;
}

.education .headerinfo{
    font-size: 1em;
    text-align: justify;
}

.educationPost{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px;
}

.yeardtls{
    font-size: 15px;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 600;
}

.yeardtls1{
    font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 600;
}

.yeardtls2{
    font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 600;
}

.education-img1{
    height: 250px;
    width: 300px;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;  
}

.education-img2{
    height: 250px;
    width: 300px;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;   
}

.education .container_ {
    /*    width: min(800px, 100% - 2rem);*/
    margin-bottom: 50px;
}

.education .Timeline{
    margin: 50px 0px !important;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.vertical_progress {
    --number: "1";
    --col-row-number: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*    grid-template-rows: repeat(6, 1fr);*/
    gap: 1rem;
    grid-column-gap: 5rem;
}

.vertical_progress > * {
    position: relative;
    padding: 1rem 1rem;
    border-radius: 0em;
    background: #f8f9fa;
    text-align: center;
    align-items: center; 
    border: 5px solid;
    border-image: conic-gradient(#669900, #99cc33, #ccee66, 
                #006699, #3399cc, #990066, #cc3399, 
                #ff6600, #ff9900, #ffcc00, #669900) 1;
    animation: a 4s linear infinite;
    margin: 0px 20px;
    box-shadow: 0 0 5px #00E4FF,  0 0 10px #00C8FF,  0 0 20px #00A3FF,  0 0 40px #0088FF;
}

.vertical_progress > *::after {
    display: grid;
    place-items: center;
}

.progress_cards:nth-child(2n + 1) {
    grid-column: 1 / span 1;
    grid-row: var(--col-row-number) / span 1;
}

.progress_cards:nth-child(2n) {
    grid-column: 2 / span 1;
    grid-row: var(--col-row-number) / span 1;
}

.progress_cards:nth-child(2n + 1)::after {
    content: var(--number);
    position: absolute;
    bottom: 50%;
    right: 0;
    translate: calc(100% + 2.3rem) 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #008CFF; /*rebeccapurple;*/
    color: white;
    padding: 10px;
}

.progress_cards:not(:last-child):nth-child(2n + 1)::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% + 0.5rem);
    width: 6px;
    background-color: #008CFF;
    translate: calc(50% + 4rem) 50%;
}

.progress_cards:nth-child(2n)::after {
    content: var(--number);
    position: absolute;
    top: 50%;
    left: 0;
    translate: calc(-1 * calc(100% + 2.3rem)) -50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #008CFF;
    color: white;
    padding: 10px;
}

.progress_cards:not(:last-child):nth-child(2n)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% + 0.5rem);
    width: 3px;
    background-color: #008CFF; /*rgba(53, 16, 90, 0.37);*/
    translate: calc(-1 * calc(50% + 4rem)) 50%;
}

@media (max-width: 381px){
    .educationimg{
        width: 250px;
        height: 250px;
    }

    .education-img1{
        height: 150px;
        width: 200px;    
    }

    .education-img2{
        height: 150px;
        width: 150px;   
    } 

    .educationPost{
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0px;
    }

    .yeardtls{
        font-size: 15px;
        font-weight: 600;
    }
    .yeardtls1{
        font-size: 14px;
        font-weight: 600;
    }
    .yeardtls2{
        font-size: 14px;
        font-weight: 600;
    }
}

@media (min-width: 992px) and (max-width: 1310px){

    .vertical_progress {
        display: block;
    }
    .vertical_progress > * {
        margin: 0 0 3rem 3rem;
    }

    .progress_cards:nth-child(n)::after {
        content: var(--number);
        position: absolute;
        top: 50%;
        left: 0;
        translate: calc(-1 * calc(100% + 3.5rem)) -50%;
        width: 4rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #008CFF;
        color: white;
    }

    .progress_cards:not(:last-child):nth-child(n)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: calc(100% + 1.5rem);
        width: 3px;
        background-color: #008CFF;
        translate: calc(-1 * calc(50% + 5.5rem)) 50%;
    }

}

@media (min-width: 480px) and (max-width: 874px){

    .vertical_progress {
        display: block;
    }
    .vertical_progress > * {
        margin: 0 0 3rem 3rem;
    }

    .progress_cards:nth-child(n)::after {
        content: var(--number);
        position: absolute;
        top: 50%;
        left: 0;
        translate: calc(-1 * calc(100% + 1rem)) -50%;
        width: 4rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #008CFF;
        color: white;
    }

    .progress_cards:not(:last-child):nth-child(n)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: calc(100% + 1.5rem);
        width: 3px;
        background-color: #008CFF;
        translate: calc(-1 * calc(50% + 3rem)) 50%;
    }

}

@media screen and (max-width: 479px) {
    .vertical_progress {
        display: block;
    }
    .vertical_progress > * {
        margin: 0 0 3rem 0rem;
    }
  
    .progress_cards:nth-child(n)::after {
        content: var(--number);
        position: absolute;
        top: 50%;
        left: 0;
        translate: calc(-1 * calc(100% + 0.5rem)) -50%;
        width: 3rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #008CFF;
        color: white;
    }
    .progress_cards:not(:last-child):nth-child(n)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: calc(100% + 1.5rem);
        width: 3px;
        background-color: #008CFF;
        translate: calc(-1 * calc(50% + 2rem)) 50%;
    }

    .education-img1{
        height: 250px;
        width: 100%;
        pointer-events: none; 
        user-select: none; 
        -webkit-user-drag: none;  
    }

    .education-img2{
        height: 250px;
        width: 100%;
        pointer-events: none; 
        user-select: none; 
        -webkit-user-drag: none;   
    }
}



/*--------------------------------------------Contact US---------------------------------------------*/


.wavepart{
    margin: 0 !important;
    padding: 0 !important;
    min-height: 80px !important;
    user-select: none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    color: #000000 !important;
    position: relative;
    min-height: 80px !important;
    background-color: #f8f9fa !important; /*f8f9fa*/
    
    box-shadow: none !important;
    overflow: hidden;
    border-bottom: none;
    background-clip: content-box;
    margin-bottom: -2px !important;
    margin-top: -2px !important;


}

.wavepart .oceanwave {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wavepart .wave {    
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%230b3c6c'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    margin: 0;
    padding: 0;
}

.wavepart .wave:nth-of-type(2) {
    top: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wavepart .wave:nth-of-type(3) {
    top: 0;
    animation: wave 22s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% { transform: translateX(0); }
    50% { transform: translateX(-25%); }
    100% { transform: translateX(-50%); }
}


@media(max-width:355px){
    .wavepart{
        margin-top: 0px !important;
        margin-bottom: -50px !important;
    }   

    .contactus .header{
        margin-top: 0px !important;
        padding-top: 150px !important;
        text-align: center !important;
        font-size: 3.5em !important;
        font-family: "Great Vibes", serif;
    }

}






.contactus {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 500px !important;
    user-select: none;
    user-drag:none;
    -webkit-user-drag: none;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    color: #D9F7FF !important;
/*  background: radial-gradient(circle, rgba(0, 102, 204, 1) 20%, rgba(0, 51, 102, 1) 100%);*/
/*    background: radial-gradient(circle, rgba(0, 102, 164, 1) 10%,rgba(0, 51, 108, 1) 100%);*/
    background-color: #0b3c6c;
}

.ocean {
    position: relative;
    width: 100vw;
    /*height: 100vh;*/
    overflow: hidden;
}

.fish {
    position: absolute;
    width: 80px;
    animation-timing-function: linear;
}

.fish-ltr {
    left: -100px;
    animation: swim-ltr infinite;
}

.fish-rtl {
    right: 2000px;
    animation: swim-rtl infinite;
}

@keyframes swim-ltr {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(110vw);}
}

@keyframes swim-rtl {
    0% { transform: translateX(110vw);}
    100% { transform: translateX(100px); }
}

.bubble {
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    animation: floatBubbles 6s infinite;
}

.bubble1 { left: 20%; animation-duration: 7s; }
.bubble2 { left: 40%; animation-duration: 9s; }
.bubble3 { left: 60%; animation-duration: 8s; }
.bubble4 { left: 80%; animation-duration: 10s; }

@keyframes floatBubbles {
    0% { transform: translateY(100vh); opacity: 0.5; }
    100% { transform: translateY(-10vh); opacity: 0; }
}

.octopus, .turtle, .seaweed, .seaweed1{
    position: absolute;
}

.octopus {
    left: 10%;
    width: 300px;
    height: 300px;
/*    animation: blinkOctopus 5s infinite alternate;*/
    bottom: 0 !important;
}

.turtle {
    right: 7%;
    width: 150px;
    height: 150;
    bottom: 0 !important;
    padding-bottom: 5px !important;
    /*animation: hideTurtle 6s infinite alternate;*/
}

.seaweed {
    right: 0%;
    height: 200px;
    width: 150px;
    margin-bottom: 0px!important;
    bottom: 0 !important;
    padding-bottom: 0px !important;
    animation: swaySeaweed 4s infinite alternate;
}

.seaweed1 {
    right: 11%;
    height: 200px;
    width: 150px;
    margin-bottom: -50px!important;
    bottom: 0 !important;
    padding-bottom: 0px !important;
    animation: swaySeaweed 4s infinite alternate;
}

@keyframes swaySeaweed {
    0% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
}



@media (max-width:500px){

    .contactus {
        margin: 0 !important;
        padding: 0 !important;
        min-height: 500px !important;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        background-color: #0b3c6c;
    }

    .socialgroup{
        padding: 0px 0px 120px 0px;
    }

    .seaweed {
        right: 0%;
        height: 100px;
        width: 50px;
    }

    .seaweed1 {
        right: 25%;
        height: 80px;
        width: 50px;
        margin-bottom: -20px!important;
    } 

    .turtle {
        right: 15%;
        width: 50px;
        height: 50px;
        bottom: 0 !important;
        padding-bottom: 5px !important;
    }

    .octopus {
        left: 10%;
        width: 150px;
        height: 140px;
        bottom: 0 !important;
    }   

     .fish {
        position: absolute;
        width: 50px;
        animation-timing-function: linear;
    }

    .fish-ltr {
        left: 100px;
        animation: swim-ltr infinite;
    }

    .fish-rtl {
        right: 110% !important;
        animation: swim-rtl infinite;
    }
}

@media(min-width:501px){
    .fish-ltr {
        left: 100px;
        animation: swim-ltr infinite;
    }

    .fish-rtl {
        right: 110% !important;
        animation: swim-rtl infinite;
    }
}

@media(min-width:501px) and (max-width:750px){
    .socialgroup{
        padding: 20px 0px 150px 0px !important;
    }

    .seaweed {
        right: 0%;
        height: 200px;
        width: 130px;
    }

    .seaweed1 {
        right: 25%;
        height: 150px;
        width: 100px;
        margin-bottom: -40px!important;
    } 

    .turtle {
        right: 18%;
        width: 80px;
        height: 100px;
        bottom: 0 !important;
        padding-bottom: 5px !important;
    }

    .octopus {
        left: 10%;
        width: 200px;
        height: 220px;
        bottom: 0 !important;
    }  
}

@media(min-width:751px) and (max-width:1050px){
    .socialgroup{
        padding: 20px 0px 120px 0px !important;
    }

    .seaweed {
        right: 0%;
        height: 240px;
        width: 200px;
    }

    .seaweed1 {
        right: 21%;
        height: 200px;
        width: 120px;
        margin-bottom: -50px!important;
    } 

    .turtle {
        right: 18%;
        width: 80px;
        height: 130px;
        bottom: 0 !important;
        padding-bottom: 5px !important;
    }

    .octopus {
        left: 10%;
        width: 200px;
        height: 260px;
        bottom: 0 !important;
    }  
}






.contactus .header{
    margin-top: 50px;
    text-align: center !important;
    font-size: 3.5em !important;
    font-family: "Great Vibes", serif;
}

.contactus .headerExp{
    padding: 20px 0px 30px 0px;
    font-size: 2em;
    text-align: center;
}

.contInfo{
    margin-top: 0px !important;
    margin-bottom: 50px !important;
    font-family: "Lora", serif !important;
}

.container-center{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.condetails{
    font-family: "Lora", serif;
    font-size: 17px;
    margin: 30px 0px;
    transition: all 0.5s ease-in-out;
    padding: 0px 50px;
}

.condetails .fa-solid{
    padding-right: 30px;
    font-size: 2.5em;
    transition: transform 0.9s ease-in-out;  
}

.condetails .fa-location-dot{
    color: #FFA500;
}

.condetails .fa-envelope{
    color: #00FF99;
}

.condetails .fa-phone{
    color: #FF007F;
}

.condetails:hover .fa-solid {
    transform: rotate(360deg);
}

.condetails:not(:hover) .fa-solid {
    transform: rotate(0deg);
}

.condetails .concol2{
    padding-left: 30px;
}

.condetails strong{
    font-size: 1.8em;
}

.condetails .contAdd{
    font-size: 1em;
    margin: 5px 0px;
}

.condetails .contAdd .map-link{
    color: #D9F7FF  !important;
    text-decoration: none;
}

.condetails .contAdd .map-link:hover{
    color: #FFEA00 !important;
}

.condetails .contmail{
    font-size: 1em;
    margin: 5px 0px;
}

.condetails .contmail .email-link{
    color: #D9F7FF  !important;
    text-decoration: none;
}

.condetails .contmail .email-link:hover{
    color: #FFEA00 !important;
}

.condetails .contph{
    font-size: 1em;
    margin: 5px 0px;
}

.condetails .contph .phone-link{
    color: #D9F7FF  !important;
    text-decoration: none;
}

.condetails .contph .phone-link:hover{
    color: #FFEA00 !important;
}


.socialgroup{
    padding: 30px 40px;
}

.socialgroup button{
    margin: 0px 10px !important;
    border-radius: 50%;
}

.socialgroup .fbic{
    padding: 2px 2px;
    font-size: 2em;
    transition: 0.6s ease-in-out;
}

.socialgroup .fb:hover,
.socialgroup .fb .fbic:hover {
    color: #ffffff;
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}


.socialgroup .gmic{
    padding: 2px 2px;
    font-size: 2em;
    transition: 0.6s ease-in-out;
}

.socialgroup .gmail:hover,
.socialgroup .gmail .gmic:hover {
    color: #ffffff;
    animation: shake 0.3s ease-in-out infinite;
}

.socialgroup .waspic{
    padding: 2px 2px;
    font-size: 2em;
    transition: 0.6s ease-in-out;
}

.socialgroup .whatsapp:hover,
.socialgroup .whatsapp .waspic:hover {
    color: #ffffff;
    animation: shake 0.3s ease-in-out infinite;
}

.socialgroup .lnkic{
    padding: 2px 2px;
    font-size: 2em;
    transition: 0.6s ease-in-out;
}

.socialgroup .linkdn:hover,
.socialgroup .linkdn .lnkic:hover {
    color: #ffffff;
    animation: shake 0.3s ease-in-out infinite;
}

.socialgroup .fb{
    background-color: #3E00FF;
    color: #ffffff;
}

.socialgroup .gmail{
    background-color: #c71610;
    color: #ffffff;
}

.socialgroup .whatsapp{
    background-color: #25d366;
    color: #ffffff;
}

.socialgroup .linkdn{
    background-color: #060047;
    color: #ffffff;
}

@media (min-width: 387px) and (max-width: 500px)
{
    .contactus .headerExp{
        font-size: 1.8em;
    }

    .socialgroup{
        padding: 0px 0px 120px 0px;
    }

}

@media (max-width: 387px){

    .contactus .headerExp{
        font-size: 1.2em;
    }

    .contInfo{
        margin-top: 50px !important;
        margin-bottom: 0px !important;
    }

    .condetails .fa-solid{
        padding:0px 0px 0px 20px;
        font-size: 2.2em;
        transition: transform 0.9s ease-in-out;  
    }

    .condetails .concol2{
        padding-left: 0px;
    }

    .condetails strong{
        font-size: 0.9em;
    }

    .condetails .contAdd{
        font-size: 0.9em;
        margin: 5px 0px;
    }    

    .condetails .contmail{
        font-size: 0.9em;
        margin: 5px 0px;
    }    

    .condetails .contph{
        font-size: 0.9em;
        margin: 5px 0px;
    }

    .socialgroup{
        padding: 0px 0px 120px 0px;
    }

    .socialgroup button{
        margin: 20px 1px !important;
        border-radius: 50%;
    }

    .socialgroup .fbic{
        padding: 1px 1px;
        font-size: 0.9em;
        transition: 0.6s ease-in-out;
    } 
    
    .socialgroup .gmic{
        padding: 1px 1px;
        font-size: 0.9em;
        transition: 0.6s ease-in-out;
    }

    .socialgroup .waspic{
        padding: 1px 1px;
        font-size: 0.9em;
        transition: 0.6s ease-in-out;
    }

    .socialgroup .lnkic{
        padding: 1px 1px;
        font-size: 0.9em;
        transition: 0.6s ease-in-out;
    }  


}

/*-------------------------------------------- Footer ---------------------------------------------*/

.footer .footertext{
    background-color: #121212 !important;
    padding: 20px 0px 0px 0px !important;
    text-align: center !important;
    margin: 0px 0px 0px 0px !important;
    font-size: 1em !important;
    font-family: "Markazi Text", serif;
    color: #FBFFE4;
    user-select: none;
    
    /*background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);*/
}


/*---------------------------------------------- Dark Mode -----------------------------------------------*/


/*---------------------------------------- Dark Mode Navbar -----------------------------------------*/
/* Default Light Mode (No Changes Needed) */

.dark-mode {
    background-color: #00FF00 !important;
    color: #ffffff !important;    
    transition: background-color 0.5s, color 0.5s !important;      
}

.dark-mode .navbar {
    background-color: #222222 !important;
}

.dark-mode .nav-link {
    color: #ffffff !important;
}

.dark-mode .nav-link:hover{
    color: #000000 !important;
    background-color: #f8f9fa !important;
}

.dark-mode #darkModeToggle {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ffffff;
}

/*----------------------------------------Dark Mode landing Page -----------------------------------------*/

.dark-mode .landingpage{
    background-color: #121212 !important;
    color: #ffffff !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;    
}


.dark-mode .profile-img-container{
    transition: background-color 0.5s, color 0.5s !important;   
    box-shadow:  0 0 10px #00FF00, 0 0 20px #39FF14, 0 0 30px #00FF00, 0 0 40px #39FF14;
    animation: rotate-shadow-dark 4s infinite linear;    

    &::before {
        background-image:   linear-gradient(#00FF00, #00FF00),  
                            linear-gradient(#ffffff, #ffffff),  
                            linear-gradient(#00FF00, #00FF00),  
                            linear-gradient(#ffffff, #ffffff);                        
        animation: rotate-dark 4s linear infinite;
    }
}

.dark-mode .IntroDash .name {
    background-image: linear-gradient(var(--gradient-angle), #00FFFF, #39FF14);
}                        


.dark-mode @keyframes cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #00FF00;
    }
}

.dark-mode .IntroDash .skills{ 
    background: linear-gradient(90deg, #00FFFF, #39FF14);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode .IntroDash .skills::after {
    border-left: 3px solid black;
    background-color: #121212;  
}

.dark-mode @keyframes rotate-shadow-dark {
    0% {
        box-shadow: 10px 0 20px #FF00FF, -10px 0 20px #39FF14;
    }
    25% {
        box-shadow: 0 10px 20px #FF00FF, 0 -10px 20px #39FF14;
    }
    50% {
        box-shadow: -10px 0 20px #FF00FF, 10px 0 20px #39FF14;
    }
    75% {
        box-shadow: 0 -10px 20px #FF00FF, 0 10px 20px #39FF14;
    }
    100% {
        box-shadow: 10px 0 20px #FF00FF, -10px 0 20px #39FF14;
    }
}

@keyframes rotate-dark {
    100% {
        transform: rotate(1turn);
    }
}

/*----------------------------------------Dark Mode about us -----------------------------------------*/

.dark-mode .aboutus{
    background-color: #121212 !important; /*#f8f9fa !important;*/
    color: #ffffff !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}


.dark-mode .aboutus .header {
    color: #000000;
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#00FF00 padding-box; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;   
}

.dark-mode .detailsabout{
    color: #ffffff; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;     
}

.dark-mode .proimg{
    box-shadow: 0 0 25px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00;  
    transition: box-shadow 0.3s ease-in-out;     
}

.dark-mode .deatailsInfo{
    border: 2px solid #393E46;
    background-color: #393E46;
    color: #ffffff;
    transition: box-shadow 0.3s ease-in-out;
}

.dark-mode .detailsabout .fa-solid{
    color: ##ffffff; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;     
}

.dark-mode .detailsabout:hover .fa-solid,
.detailsabout div:hover ~ .fa-solid {
    text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 15px #39FF14; 
    animation: pulse 0.6s infinite;
}

.dark-mode .detailsabout .email-link,
.dark-mode .detailsabout .phone-link,
.dark-mode .detailsabout .map-link{
    color: #ffffff; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.dark-mode .detailsabout .email-link:hover,
.dark-mode .detailsabout .phone-link:hover,
.dark-mode .detailsabout .map-link:hover{
    color: #39FF14 !important;
}

.dark-mode .tottext, .dark-mode .fronttext, .dark-mode .mvctext, .dark-mode .webtext {
    color: #ffffff !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.dark-mode .projectcounter .card {
    box-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 20px #39FF14; /* Initial glow effect */
    border: 2px solid #0ff;
    transition: box-shadow 0.3s ease-in-out;
    background-color: #f8f9fa !important;
}

.dark-mode .projectcounter .card:hover {
    box-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 40px #39FF14, 0 0 60px #39FF14;
}

@keyframes neon-glow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dark-mode .projectcounter .card-text{
    font-weight: 500;
    font-size: 1em;
    color: #121212 !important;
}

/*---------------------------------------- Dark Mode Skillset -----------------------------------------*/

.dark-mode .skillsset{
    background-color: #121212 !important;
    color: #ffffff !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.dark-mode .skillsset .header {
    color: #000000;
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#00FF00 padding-box; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;       
}

.dark-mode .skillsset .card{
    margin: 30px 10px;
    box-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 20px #39FF14;
    background-color:#f8f9fa;
    color: #000000;
}

/*.dark-mode .skillsset .card:hover{
    box-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 40px #39FF14, 0 0 60px #39FF14;
}*/

/*---------------------------------------- Dark Mode Experience -----------------------------------------*/

.dark-mode .experience{
    background-color: #121212 !important;
    color: #ffffff !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.dark-mode .experience .header {
    color: #000000;
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#00FF00 padding-box; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;       
}

/*---------------------------------------- Dark Mode Education -----------------------------------------*/

.dark-mode .education{
    background-color: #121212 !important;
    color: #ffffff !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.dark-mode .education .header {
    color: #000000;
    background:radial-gradient(.2em 50% at left,#000a,#0000) border-box,#00FF00 padding-box; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;       
}

.dark-mode .vertical_progress > * {
    box-shadow: 0 0 5px #00FF00,  0 0 10px #00FF00,  0 0 20px #00FF00,  0 0 40px #00FF00;
}

.dark-mode .progress_cards:nth-child(2n + 1)::after {
    background-color: #00FF00; /*rebeccapurple;*/
    color: #000000;
}

.dark-mode .progress_cards:not(:last-child):nth-child(2n + 1)::before {
    background-color: #00FF00;
}

.dark-mode .progress_cards:nth-child(2n)::after {
    background-color: #00FF00;
    color: #000000;
}

.dark-mode .progress_cards:not(:last-child):nth-child(2n)::before {
    background-color: #00FF00; /*rgba(53, 16, 90, 0.37);*/
}

.dark-mode .vertical_progress {
    color: #000000;
}

/*---------------------------------------- Dark Mode Contact Us -----------------------------------------*/

.dark-mode .contactus{
    background-color: #0b3c6c !important;
    color: #ffffff !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;      
}

.dark-mode .condetails{
    color: #ffffff;  
}

.dark-mode .condetails .contAdd .map-link{
    color: #ffffff !important;
}

.dark-mode .condetails .contmail .email-link{
    color: #ffffff !important;
}

.dark-mode .condetails .contph .phone-link{
    color: #ffffff !important;
}

.dark-mode .condetails .contAdd .map-link:hover{
    color: #D71313 !important;
}

.dark-mode .condetails .contmail .email-link:hover{
    color: #D71313 !important;
}

.dark-mode .condetails .contph .phone-link:hover{
    color: #D71313 !important;
}

.dark-mode .wavepart{
    background-color: #121212 !important;
}

